@media (max-width: 1350px)
{
	.txt-home
	{
		margin: 50px;
	}

	.portfolio
	{
		margin: auto;
		width: 70%;
	}

	.contact-info
	{
		margin-right: 30px;
	}
}

@media (min-width: 768px)
{
	.img-slider
	{
		width: 100%;
	}
}

body
{
	margin: auto;
	font-family: 'Roboto', sans-serif;
	color: rgb(104,108,113);
}

h1
{
	font-size: 32px;
	margin: 0px;
}

h2, h3
{
	font-size: 32px;
	color: rgb(39,39,39);
}

h3
{
	font-size: 20px;
	margin: 0 0 8px 0;
}

li
{
	list-style: none;
	display: inline;
	text-align: center;
}

a
{
	text-decoration: none;
	color: rgb(104,108,113);
}

hr
{
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
  	border-bottom: 1px solid rgb(235,235,235);
	width: 150px;
}

/* paramètre globaux */
section
{
	padding: 100px 0 100px 0;
	margin-bottom: 60px;
}

article
{
	display: flex;
}

i
{
	color: rgb(92, 173, 211);
}

#service, .container-projet, .info, .home, .container-header
{
	max-width: 1230px;
	margin: auto;
}

.intro-section p, .intro-section h2
{
	margin: 0px;
}

.separator
{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.circle
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle-back
{
	font-size: 20px;
	color: white; 
}

.circle-front
{
	font-size: 12px;
	position: absolute;
}

.anchor
{
	display: block;
	height: 98px;
	margin-top: -98px;
	visibility: hidden;
}

/* Header */
#header
{
	position: fixed;
	width: 100%;
	background: white;
	z-index: 2;
}

.container-header
{
	display: flex;
}

.logo
{
	margin: auto;
	margin-left: 0px;
}

.logo-min
{
	visibility: hidden;
}

.nav-header nav ul
{
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.nav-header nav li
{
	padding: 40px 0px 40px 0px;
	width: 85px;
}

.nav-header li:hover
{
	font-weight: bold;
	border-top: 3px solid rgb(92, 173, 211);
	padding-top: 37px;
}

/* Home */
#home
{
	background: rgb(245,245,245);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


#home img
{
	width: 100%;
	margin: auto;
}

.timebar
{
	width: 100%;
	display: flex;
	margin-top: -8px;
	background: rgba(0,0,0,0.2);
}

.bar
{
	visibility: hidden;
	flex: 1;
	background: rgb(92, 173, 211);
	height: 5px;
}

.active
{
	visibility: visible;
}

.btn-slider
{
	width: 100%;
	margin: auto;
	position: absolute;
	display: flex;
	justify-content: space-between;
}

.btn-slider .fas
{
	font-size: 40px;
	background: rgba(0, 0, 0, 0.2);
	padding: 30px 15px 30px 15px;
	border-radius: 0 100px 100px 0;
}

.btn-slider .fa-angle-right
{
	border-radius: 100px 0 0 100px;
}

.txt-home, .txt-home button, #contact input[type=submit]
{
	color: white;
	font-weight: bold;
}

.home
{
	width: 100%;
	margin: auto;
	position: absolute;
	display: flex;
	justify-content: space-between;
}

.home div
{
	width: 50%;
}

.title
{
	color: rgb(92, 173, 211);
}

.txt-home p
{
	margin: 10px 0 15px 0;
}

#home button, #contact input[type=submit]
{
	background: rgb(92, 173, 211);
	border: none;
	border-bottom: 3px solid rgb(68,148,187);
	border-radius: 2px;
	padding: 10px 15px 10px 15px;
	font-size: 16px;
}

#home button:active, #contact input[type=submit]:active
{
	border-bottom: 3px solid rgb(245,245,245);
}

.fa-angle-left, .fa-angle-right
{
	color: white;
}

#home a
{
	z-index: 1;
}

/* service */
.intro-section
{
	text-align: center;
	width: 50%;
	margin: auto;
}

.container-service
{
	display: flex;
	justify-content: space-between;
	margin: 50px 0 0 0;
}

.container-col-left, .container-col-right
{
	width: 50%;
	margin: 0 15px 0 15px;
}

.container-col-left
{
	text-align: center;
}

.container-col-right
{
	margin-top: 50px;
}

article h3, article p
{
	margin: 0;
}

article p
{
	margin: 10px 0 25px 0;
}

#service p, #project p
{
	line-height: 2;
}

#project .txt p
{
	line-height: 1.5;
}

.icones-service
{
	border: solid 1px rgb(220,220,220);
	border-radius: 50%;
	min-height: 60px;
	min-width: 60px;
	max-height: 60px;
	max-width: 60px;
	margin-right: 30px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.icones-service .circle
{
	right: -10px;
}

.icone-service
{
	font-size: 30px;
}

/* Projet */
#project
{
	background: rgb(245,245,245);
}

#project ul
{
	padding: 0px;
	display: flex;
	justify-content: center;
}

#project li
{
	margin: 50px 0 50px 0;
}

.nav-projet a
{
	font-weight: bold;
	padding: 15px 17px 15px 17px;
	background: rgb(229,229,229);
	font-size: 14px;
	display: flex;
	justify-content: center;
}

.nav-projet a:hover
{
	background: rgb(92, 173, 211);
	border-bottom: 3px solid rgb(68,148,187);
	padding-bottom: 12px;
	color: white;
}

.nav-projet a i
{
	position: absolute;
	color: rgb(68,148,187);
	font-size: 30px;
	margin-top: 18px;
	visibility: hidden;
}

.nav-projet a:hover i
{
	visibility: visible;
}

.first a
{
	border-radius: 3px 0 0 3px;
}

.last a
{
	border-radius: 0 3px 3px 0;
}

.portfolio
{
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
}

.portfolio .box
{
	display: flex;
    align-items: flex-end;
    justify-content: center;
	margin: 15px;
}

.portfolio .box, .box img,.box .txt
{
	width: 260px;
}

.box .txt
{
	position: absolute;
	display: flex;
	background: rgba(0, 0, 0, 0.6);
}

.portfolio a .txt
{
	visibility: hidden;
}

.portfolio a:hover .txt
{
	visibility: visible;
}

.box p
{
	padding: 0 12px 0 12px;
	margin: 2px 0 10px 0;
	color: white;
}

.box .txt .icone
{
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 0px;
}

.txt .circle-back
{
	height: 40px;
	width: 40px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-right: 8px;
}

.txt .circle-front
{
	height: 36px;
	width: 36px;
	background-color: rgb(92, 173, 211);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.icone .fa-eye
{
	font-size: 16px;
	color: white;
}

/* contact */
#contact
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.map, .pelicule
{
	width: 100%;
	margin: auto;
	height: 620px;
	border: 0px;
}

.pelicule
{
	position: absolute;
	display: flex;
	background: rgba(68,148,187, 0.3);
}

.info
{
	width: 100%;
	margin: auto;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	margin-right: 15px;
}

.contact-info
{
	width: 360px;
	background: rgba(255, 255, 255, 0.8);
	padding: 16px;
}

.input
{
	display: flex;
	flex-direction: column;
}

.form-full-width
{
	border: solid 1px rgb(204,204,204);
	border-radius: 2px;
	font-family: sans-serif;
}

#contact input, #contact textarea
{
	padding: 6px;
	margin: 8px 0 8px 0;
}

.contact-info p
{
	margin: 8px 0 8px 0;
}

.phone
{
	border-bottom: dashed rgb(104,108,113) 1px;
}